.black {
    height: 80px;
    width: 80px;
    background-color: rgb(38, 16, 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.white {
    height: 80px;
    width: 80px;
    background-color: rgb(222, 213, 207);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pedina {
    border-radius: 50%;
    height: 42px;
    width: 42px;
    background-color: rgb(16, 162, 0);
    margin-top: 10px;
}

.fisse {
    border-radius: 50%;
    height: 42px;
    width: 42px;
    background-color: rgb(243, 0, 0);
    margin-top: 10px;
}

@media screen and (max-width: 780px) {
    .black {
        height: 45px;
        width: 45px;
    }
    .white {
        height: 45px;
        width: 45px;
    }
    .pedina {
        height: 18px;
        width: 18px;
        margin-top: 18px;
    }
    .fisse {
        height: 18px;
        width: 18px;
        margin-top: 18px;
    }
}